* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    font-size: 0.9rem;

    color: rgba(255, 255, 255, 0.868);

    font-family: 'Source Sans Pro', sans-serif;

}


.page-background {

    background-repeat: no-repeat;

    background-color: black;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 1.00%,rgb(0, 23, 59) 100.00%);


    pointer-events: none;
    top: 0px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    
}



/* Main */

body {

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-color: black;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 1.00%,rgb(0, 23, 59) 100.00%);

}


h1 {

    font-size: 2.7rem;

    color: rgb(255, 255, 255);

    font-family: 'Viga', sans-serif;

    text-align: center;

}

p {

    font-size: 1.4rem;

    color: rgba(255, 255, 255, 0.85);

    font-family: 'Viga', sans-serif;

    text-align: left;

    padding: 10px;

}

a {

    text-decoration: none;

}

button {

    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-family: 'Viga', sans-serif;

    background-color: #1a1b1f;

    border-radius: 0.5rem;

    display: block;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;

    cursor: pointer;

}

/* Navbar */

nav {

    /* Visual Style */

    background-color: rgb(9, 13, 23);

    height: 4rem;
    width: 90%;

    border-radius: 1.5rem;

    backdrop-filter: saturate(200%) blur(30px);

    box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07);

    padding: 10px;

	position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);

    z-index: 999;

}

.nav-button {

    background-color: rgb(36, 36, 36);

    height: 100%;

    border-radius: 1rem;

    display: flex;

    transition: 0.25s;

}

nav a {

    /* Text Style */

    color: rgb(235, 235, 235);
    font-family: 'Viga', sans-serif;
    text-decoration: none;

    /* Display */

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    /* Transition */

    transition: 0.25s;

}

nav a:hover {

    color: rgb(255, 255, 255);

    transition: 0.25s;

}

nav img {

    position: fixed;

    top: 10px;

    width: 4rem;

}

.nav-holder-left {

    display: flex;
    justify-content: left;

    width: 25%;
    height: 100%;

    float: left;

    text-align: left;

}

.nav-holder-right {

    display: flex;
    align-items: center;
    justify-content: right;

    width: 75%;
    height: 100%;

    float: right;

    text-align: right;

}

/* Footer */

footer {

    padding: 30px;

    align-items: center;

    background: rgba(37,43,78,.5);
    border-radius: 10px;

    backdrop-filter: saturate(200%) blur(30px);

    box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07);

    display: flex;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2rem;

    width: 95%;

}

/* Animations */

.fade-in {

    opacity: 0;
    transition: all 0.5s ease-in;

}
  
.fade-in.appear {

    opacity: 1;

}

.from-left {

    position: relative;
    transform: translate(-50%);

    opacity: 0;

    transition: all 0.5s ease-in;

}

.from-left.appear {

    position: relative;
    transform: translate(0%);

    opacity: 1;

}

.from-right {

    position: relative;
    transform: translate(50%);

    opacity: 0;

    transition: all 0.5s ease-in;

}

.from-right.appear {

    position: relative;
    transform: translate(0%);

    opacity: 1;

}