/* Main */

.page-navbar {

    background-color: rgba(0, 0, 0, 0.655);

    min-width: 60%;
    max-width: fit-content;
    height: 5rem;
    
    display: flex;
    
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 1rem;
    
    justify-content: center;
    align-items: center;

}

.page-items {

    background-color: rgb(10, 18, 30);

    box-shadow: 0px 0px 23px 7px rgba(17,34,51,0.57);
    -webkit-box-shadow: 0px 0px 23px 7px rgba(17,34,51,0.57);
    -moz-box-shadow: 0px 0px 23px 7px rgba(17,34,51,0.57);
    backdrop-filter: saturate(200%) blur(30px);

    width: 80%;
    height: fit-content;
    
    display: block;
    
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;

    padding-top: 3rem;
    padding-bottom: 3rem;
    
    border-radius: 1rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    justify-items: center;

}

.page-item {

  background-color: #000000;

  box-shadow: 0px 0px 23px 7px rgba(17,34,51,0.57);
  -webkit-box-shadow: 0px 0px 23px 7px rgba(17,34,51,0.57);
  -moz-box-shadow: 0px 0px 23px 7px rgba(17,34,51,0.57);
  backdrop-filter: saturate(200%) blur(30px);

  width: 20rem;
  height: 20rem;

  border-radius: 1rem;

  overflow: hidden;

}

.page-item h1 {

  font-size: 3rem;

}

.page-item p {

  font-size: 2rem;

  color: rgb(0, 255, 0);

  text-align: center;

}

.page-item img {

  width: 100%;

}

.page-item button {



}

/* Search */

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }

.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #0f0f0f;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms;
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms;
  }